@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background: #f3f5fc;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 100px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

::placeholder {color: #0a3871; }
    .text-area:focus{
        outline: none;
    }
